{{#each errors}}
	<div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}
<div class="card card-body">
	<h3>Edit Idea</h3>
	<form action="/ideas/{{idea.id}}?_method=PUT" method="post">
	<input type="hidden" name="_method" value="PUT">
		<div class="form-group">
			<label for="title">Title</label>
			<input type="text" class="form-control" name="title" required value="{{idea.title}}">
		</div>
		<div class="form-group">
			<label for="details">Details</label>
			<textarea class="form-control" name="details" required>{{idea.details}}</textarea>
		</div>
		<div class="form-group">
			<label for="public">Public</label>
			{{#if idea.public}}
				<input type="checkbox" class="form-control" name="public" checked>
			{{else}}
				<input type="checkbox" class="form-control" name="public">
			{{/if}}
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>